
.DS_Store
Thumbs.db
.idea/
.vscode/

venv/
.venv/
env/
.env
.env/
__pycache__/
*.py[cod]
*$py.class

*.log
*.tmp
*.swp
*.swo

.pytest_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/
*.egg

db.sqlite3

*.orig
